* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif; 
  font-size: 14px;
  background-color: var(--white-text);
  
  color: var(--black-text);
  letter-spacing: 0.03em;
}
:root {
  --blu-text: #2196f3;
  --black-text: #212121;
  --white-text: #ffffff;
  --grey-text: #757575;
  --dark-grey:#2f303a;
  --white-color:#f5f4fa;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  width: 1600px;
  background-color: var(--white-text);
}
.header-porfolio {
  border-bottom: 1px solid #ececec;
}
.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  
  color: var(--blu-text);
  margin-left: 270px;
  margin-top: 20px;
  margin-right: 100px;
  margin-bottom: 20px;
  text-decoration: none;
}
.logo-span {
  color: var(--black-text);
}
.nav__list {
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact__list {
  display: flex;
  margin-left: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav__item {
  margin-right: 30px;
}
.contact__item {
  margin-right: 50px;
}
.nav__link {
 
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--black-text);
  
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
color: var(--blu-text);
}
.link-current {
  color: var(--blu-text); 
}
.contact__link {  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
 
  color: var(--grey-text);
 
}
.contact__link:hover,
.contact__link:focus,
.contact__link:active {
color: var(--blu-text);
}

.hero {
  height: 600px;
  width: 1600px;
  background-color: var(--dark-grey);
}
.hero-title {  
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: var(--white-text);
  padding-top: 200px;
  padding-right: 450px;
  padding-left: 450px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  width: 200px;
  height: 50px;
  background-color: var(--blu-text);
  color: var(--white-text);
  margin-left: 700px;
  margin-top: 30px;
  letter-spacing: 0.06em;  
Font-size: 16px;
Line-height: 1.18;;
Vertical-align: Center;
letter-spacing: 0.06em;
border: none;
cursor: pointer;
}
.about {
  padding-top: 70px;
  padding-left: 175px;
  width: 1170px;
  height: 100px;
}
.about-hidden{
  display: none;
}
.about__list {
  display: flex;
}
.about__item {
  width: 270px;
  height: 100px;
  margin-left: 30px;
}

.about__title {
 
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  vertical-align: Top;
 
  color: var(--black-text);
  
}
.about__text {
  padding-top: 10px;
  
  
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-text);
 
}
.working {
  width: 1170px;
  height: 390px;
  padding-left: 215px;
  padding-top: 120px;
}
.working__title {

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-text);
  
}
.working__list {
  display: flex;
}
.working__item {
  margin-top: 50px;
  padding-right: 30px;
}
.teams {
  width: 1600px;
  height: 650px;

  background-color:var(-white-color);
}
.teams__title {
  padding-top: 95px;
  padding-bottom: 50px;
 
  letter-spacing: 0.03em;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-text);
}
.teams__list {
  display: flex;
  width: 1170px;
  height: 370px;
  padding-left: 215px;
}
.teams__item {
  width: 270px;
  height: 370px;
  background-color: var(--white-text);
  margin-right: 30px;
}
.teams__name {
 font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--black-text);
  margin-top: 30px;
 
}
.teams__text {  
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--grey-text);
  margin-top: 10px;
 
}
.footer {
  width: 1600px;
  height: 250px;
  background-color: var(--dark-grey);
  padding-top: 60px;
}
.footer__item {
  font-style: normal;
}
.logo-headers {  
  Font-family: Raleway;
  Font-style: Bold;
  Font-size: 26px;
  Line-height: 1.19;
  font-weight: 700;
  
  color: var(--blu-text);
  margin-left: 270px;
  text-decoration: none;
 
}
.logo-spans {
  color: var(--white-text);
}

.footer__info {
  margin-left: 270px;
  margin-top: 20px;
  margin-right: 100px;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer__list {   
  font-size: 14px;
  line-height: 1.71;
 
}
.footer-link-white {
  color: var(--white-text);
}
.footer__item {  
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  
}
.footer__item:first-child {
  margin-top: 0px;
}
.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer__link:hover,
.footer__link:focus,
.footer__link:active {
color: var(--blu-text);
}
.portfolio-filter__list {
  display: flex;
  justify-content: center;
}

.portfolio-filter__button {
  font-weight: 500;
  margin-bottom: 35px;
  padding: 6px 22px;
  background-color:var(-white-color);
  color: var(--black-text);
  border-radius: 5px;
  border: none;
Font-size: 16px;
Line-height:1.16;
text-align: center;
Vertical-align: Top;

}
.portfolio-filter__button:hover,
.portfolio-filter__button:focus,
.portfolio-filter__button:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text);
  background-color: var(--blu-text);
}
.portfolio-filter__button--current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text);
  background-color: var(--blu-text);
}

.portfolio-filter__item:not(:first-child) {
  margin-left: 8px;
}
.portfolio {
  width: 1170px;
  padding-top: 70px;
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 90px;
}

.portfolio-examples__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-examples__item {
  flex-grow: 1;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(238, 238, 238, 1);
  width: 370px;
}
.portfolio-examples__title {  
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  color: var(--black-text);
  margin-top: 20px;
  margin-left: 25px;
}
.portfolio-examples__text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--grey-text);
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 25px;
  letter-spacing: 0.06em;
}
.section {
  display: none;
}
